body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

/* Your CSS code */

.home-button {
    display: inline-block;
    font-size: 18px; 
    text-decoration: none; 
    color: #fff; 
    background-color: #33337c;
    border: 2px solid #5d51bc; 
}
